.treeContainer {
  font-family: monospace;
  height: 100vh;
  overflow-y: auto;
  background-color: #282c34;
  color: white;
  padding: 10px 20px;
  box-sizing: border-box;
}

.listContainer ul {
  margin-top: 0;
  padding-left: 1.25em;
}

.listContainer label {
  cursor: pointer;
  display: inline-block;
  width: max-content;
  padding: 2px 4px;
  border-radius: 2px;
}
.listContainer label:hover {
  background-color: rgba(255, 200, 0, 0.35);
}
.listContainer label.selected {
  background-color: rgba(255, 255, 0, 0.35);
}

label { color: gray; }
label.named { color: white; }
label.error { color: tomato; }
.field { color:lightskyblue; }
